services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    environment:
      DATABASE_URL: ${DATABASE_URL:-postgresql://postgres:Infor586467@palpitai-app_postgres-banco:5432/palpitai-app?sslmode=disable}
      PORT: 3001
    ports:
      - "3001:3001"
    networks:
      - palpita-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL:-http://localhost:3001}
    ports:
      - "3000:3000"
    networks:
      - palpita-net

networks:
  palpita-net:
    driver: bridge
